:root{
  --nav-bg: #84b6f4;
  --nav-hl: #ff6961;
  --nav-logo: #fff;
  --nav-hoverC: #77dd77;
  
  --logo-fontsz: 2.0rem;
  --navbar-items-fontsz: 1.2rem;
}


@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, input {
    font-family: 'Arial Narrow Bold', sans-serif;
  }

  .navbar { 
    align-items: center;
    padding: 0% 3%;
    justify-content: space-between;
    background-image: var(--nav-bg) !important;
    background-color: var(--nav-bg) !important;
    font-size: var(--logo-fontsz);
    min-height: 80px;
  }
  
  
  #mainLogo {
    
    color: var(--nav-logo) !important;
    font-size: var(--logo-fontsz);
  }

  .navitem, .navicon{
    text-align: center;
    margin: 0 1rem;
    color: var(--nav-logo);
    transition: 0.3s ease-in-out;
  }
  #navitem:hover, .navicon:hover{ 
    color: var(--nav-hoverC);
    cursor: pointer;
  }
  .nav-link{
    color: var(--nav-logo);
    font-size: var(--navbar-items-fontsz);
    padding-top: calc(var(--logo-fontsz) - var(--navbar-items-fontsz));
  }
  

  form .input-group.mb-3 input, form .input-group.mb-3 span{
    /* padding: 0rem; */
    margin-top: 15px;
    border: 0;
  }

  #basic-addon2{
    color: #fff;
    background-color: var(--nav-hl);
    cursor: pointer;
    transition: 0.3s;
  }

  #basic-addon2:hover{
    
    background-color: var(--nav-hoverC);
 
  }

  
  .dante-footer > *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 0.5rem;
    background-image: #84b6f4 !important;
    background-color: #84b6f4 !important;
    height: auto;
    width: 100%;
    text-align: center;
    border: 10px;
    border-color: #000000 ;
  }
