@media (min-width: 993px) {
    
    .GutenBook-container{
        display: grid;
        grid-template-columns:  0.5fr repeat(2, 1fr )  0.5fr;
        border: 1em;
        border-color: black;
    }
    
    .dante-navbar{
        grid-column: 1/5;
    }
    
    
    .dante-footer{
        grid-column: 1/5;
        min-height: 50px;
        /* text-align: center; */
    }
    
    .mainContent{
        grid-column: 1/5
        display: block;
        height: 1000px;
    }
    
    }
    
@media (max-width: 992px) {
        
    .GutenBook-container{
        display: grid;
        grid-template-columns:   repeat(2, 1fr);
        border: 1em;
        border-color: black;
    }
    
    .dante-navbar{
        grid-column: 1/3;
    }

    
    .dante-footer{
        grid-column: 1/3;
        min-height: 50px;
        /* text-align: center; */
    }
    
}
    


    
@media (max-width: 576px) {

    .GutenBook-container{
        display: grid;
        grid-template-columns:   1fr;
        border: 1em;
        border-color: black;
    }
    
    .dante-navbar{
        grid-column: 1/2;
        min-height: 50px;
    }

    .dante-footer{
        grid-column: 1/2;
        min-height: 50px;
        /* text-align: center; */
    }
       
}